src/Build/
.cproject
.gitignore
.project
Makefile
qrc_glc_lib.cpp
*.dylib
.DS_Store
glc_lib.pro.user
*.o
src/Makefile
doc/generated
src/*.dll
src/GLC_lib_resource.rc
src/Makefile.*
src/*.a
src/object_script*
src/*.user
html/
*.app
glc_lib.pro.user.3.2-pre1
glc_lib.pro.user.18
glc_lib.pro.user.3.3-pre1
moc_predefs.h
.qtc_clangd/.cache/clangd/index
